name: Java CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:

  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 8
          - 11
          - 16

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Info
        run: mvn -version
      - name: Test
        run: mvn -e --no-transfer-progress test

  # test behavior comparing to JSON.stringify() and JSON.parse()
  test-graavm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: DeLaGuardo/setup-graalvm@4.0
        with:
          graalvm: '21.2.0'
      - name: Info
        run: mvn -version
      - name: Test
        run: mvn -e --no-transfer-progress test
